*******************************************************************************
Warning
*******************************************************************************
You are accessing a Biogen System. Use of this system is restricted to
authorized personnel and associated business partners only. Any and all use
of this system is subject to monitoring and logging. Unauthorized or improper
use of this system may result in administrative disciplinary action and civil
and criminal penalties. By continuing to access this system you are agreeing
to the terms and conditions of use.
*******************************************************************************
Warning
*******************************************************************************

